@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-md-3">
    <h2>Settlements</h2>
    <ul>
        <li><a asp-controller="Settlement" asp-action="WheatSettlements">Wheat Future Settlements</a></li>
        <li><a asp-controller="Settlements" asp-action="AJCSettlements">AJC Future Settlements</a></li>
    </ul>
</div>
