<div class="row">
    <h2>MGEX Time and Sales CSV</h2>
    <div class="col-md-3">
        <h2>Futures</h2>
        <ul>
            <li><a asp-controller="TimeSales" asp-action="FuturesCSV">Futures Time and Sales CSV</a></li>
            <li><a asp-controller="TimeSales" asp-action="OptionsCSV">Options Time and Sales CSV</a></li>
        </ul>
    </div>
</div>
