@{
    ViewData["Title"] = "Options Time and Sales CSV";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    <li><a asp-controller="TimeSales" asp-action="Index">Time and Sales Home</a></li>
</ul>

<p>Use this area to provide additional information.</p>
