@{
    ViewData["Title"] = "AJC Futures Closing Sheet";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    <li><a asp-controller="Closing" asp-action="Index">Closing Sheets Home</a></li>
</ul>

<p>Use this area to provide additional information.</p>
