@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-3">
        <h2>Settlements</h2>
        <ul>
            <li><a asp-controller="Settlements" asp-action="AJCSettlements">AJC Settlements</a></li>
            <li><a asp-controller="Settlements" asp-action="WheatSettlements">Wheat Settlements</a></li>
        </ul>
    </div>
</div>